<div class="container-md">

  <div class="row justify-content-center">
    <div class="row align-items-center" id="title" style="height: 200px;">
      <div class="col-12 align-self-center">
        <h1>你想對誰說幹話？</h1>
      </div>
    </div>
  </div>
  <form method="POST" action="/">
    <div class="row justify-content-center" id="title" style="height: 400px;">
      <div class="col-4 mh-100 align-self-center" style="height: 400px;">
        <div class="row" style="height: 300px;">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            alt="angry-developer">
        </div>
        <div class="row justify-content-center" style="height: 100px;">
          <div class="form-group form-row mb-2 align-items-center">
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="radio" class="form-check-input" id="developer" name="developer"
                  {{#if options.developer}}{{/if}}>
                <h3>
                  <label class="target-name" for="developer">工程師</label>
                </h3>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-4 mh-100 align-self-center" style="height: 400px;">
        <div class="row" style="height: 300px;">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            alt="angry-developer">
        </div>
        <div class="row justify-content-center" style="height: 100px;">
          <div class="form-group form-row align-items-center">
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="radio" class="form-check-input" id="designer" name="designer"
                  {{#if options.designer}}{{/if}}>
                <h3>
                  <label class="target-name" for="designer">設計師</label>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 mh-100 align-self-center" style="height: 400px;">
        <div class="row" style="height: 300px;">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            alt="angry-developer">
        </div>
        <div class="row justify-content-center" style="height: 100px;">
          <div class="form-group form-row align-items-center">
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="radio" class="form-check-input" id="founder" name="founder" {{#if options.founder}}{{/if}}>
                <h3><label class="target-name" for="founder">創業家</label></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center" id="title" style="height:200px;"
      id="result">
      <button class="btn btn-secondary" type="submit" style="height:50px;">產生幹話</button>
      <div class=" col-10 mh-100 align-self-center border border-dark" style="height: 200px;">
        <h2>{{sentence}}</h2>
      </div>
    </div>
  </form>
</div>
